# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Modelos (generados por el pipeline)
models/
mlruns/

# Datos
data/*.csv

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
